i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.svg-class {
    width: 1em;
    height: 1em;
    fill: currentColor;
}
/* svg 图标尺寸 */
// 菜单栏图标
.aside-svg {
    margin-right: 3px;
    font-size: 16px;
}
// nav导航图标
.header-menu-svg {
    margin: 0 8px -2px 0;
    color: #ccc;
    font-size: 20px;
    vertical-align: top;
}

// 语言图标
.language-svg{
    width: 24px;
    height: 16px;
    margin-right: 8px;
}