<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlemoth.system.mapper.TbSysMenuMapper">

    <resultMap type="com.littlemoth.common.core.domain.entity.TbSysMenu" id="TbSysMenuResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentIds"    column="parent_ids"    />
        <result property="path"    column="path"    />
        <result property="component"    column="component"    />
        <result property="redirect"    column="redirect"    />
        <result property="breadcrumb"    column="breadcrumb"    />
        <result property="keepAlive"    column="keep_alive"    />
        <result property="title"    column="title"    />
        <result property="sort"    column="sort"    />
        <result property="menuType"    column="menu_type"    />
        <result property="href"    column="href"    />
        <result property="target"    column="target"    />
        <result property="icon"    column="icon"    />
        <result property="hidden"    column="hidden"    />
        <result property="permis"    column="permis"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="isDel"    column="is_del"    />
    </resultMap>

    <sql id="selectTbSysMenuVo">
        select id, name, parent_id, parent_ids, path, component, redirect, breadcrumb, keep_alive, title, sort, menu_type, href, target, icon, hidden, permis, creator, create_time, update_user, update_time, remarks, is_del from tb_sys_menu
    </sql>

    <select id="selectTbSysMenuList" parameterType="com.littlemoth.common.core.domain.entity.TbSysMenu" resultMap="TbSysMenuResult">
        <include refid="selectTbSysMenuVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="parentIds != null  and parentIds != ''"> and parent_ids = #{parentIds}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="component != null  and component != ''"> and component = #{component}</if>
            <if test="redirect != null  and redirect != ''"> and redirect = #{redirect}</if>
            <if test="breadcrumb != null "> and breadcrumb = #{breadcrumb}</if>
            <if test="keepAlive != null "> and keep_alive = #{keepAlive}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="menuType != null  and menuType != ''"> and menu_type = #{menuType}</if>
            <if test="href != null  and href != ''"> and href = #{href}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="hidden != null  and hidden != ''"> and hidden = #{hidden}</if>
            <if test="permis != null  and permis != ''"> and permis = #{permis}</if>
            <if test="creator != null "> and creator = #{creator}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
        </where>
    </select>
    <select id="selectTbSysMenuListByMenuType" parameterType="com.littlemoth.common.core.domain.entity.TbSysMenu" resultMap="TbSysMenuResult">
        <include refid="selectTbSysMenuVo"/>
        where menu_type IN ( 'M', 'C' )
    </select>
    <select id="selectTbSysMenuById" parameterType="Long" resultMap="TbSysMenuResult">
        <include refid="selectTbSysMenuVo"/>
        where id = #{id}  and is_del = 0
    </select>

    <insert id="insertTbSysMenu" parameterType="com.littlemoth.common.core.domain.entity.TbSysMenu">
        insert into tb_sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="parentIds != null">parent_ids,</if>
            <if test="path != null">path,</if>
            <if test="component != null">component,</if>
            <if test="redirect != null">redirect,</if>
            <if test="breadcrumb != null">breadcrumb,</if>
            <if test="keepAlive != null">keep_alive,</if>
            <if test="title != null">title,</if>
            <if test="sort != null">sort,</if>
            <if test="menuType != null">menu_type,</if>
            <if test="href != null">href,</if>
            <if test="target != null">target,</if>
            <if test="icon != null">icon,</if>
            <if test="hidden != null">hidden,</if>
            <if test="permis != null">permis,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="parentIds != null">#{parentIds},</if>
            <if test="path != null">#{path},</if>
            <if test="component != null">#{component},</if>
            <if test="redirect != null">#{redirect},</if>
            <if test="breadcrumb != null">#{breadcrumb},</if>
            <if test="keepAlive != null">#{keepAlive},</if>
            <if test="title != null">#{title},</if>
            <if test="sort != null">#{sort},</if>
            <if test="menuType != null">#{menuType},</if>
            <if test="href != null">#{href},</if>
            <if test="target != null">#{target},</if>
            <if test="icon != null">#{icon},</if>
            <if test="hidden != null">#{hidden},</if>
            <if test="permis != null">#{permis},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{create_time},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateTbSysMenu" parameterType="com.littlemoth.common.core.domain.entity.TbSysMenu">
        update tb_sys_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentIds != null">parent_ids = #{parentIds},</if>
            <if test="path != null">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="redirect != null">redirect = #{redirect},</if>
            <if test="breadcrumb != null">breadcrumb = #{breadcrumb},</if>
            <if test="keepAlive != null">keep_alive = #{keepAlive},</if>
            <if test="title != null">title = #{title},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="menuType != null">menu_type = #{menuType},</if>
            <if test="href != null">href = #{href},</if>
            <if test="target != null">target = #{target},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="hidden != null">hidden = #{hidden},</if>
            <if test="permis != null">permis = #{permis},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbSysMenuById" parameterType="Long">
        UPDATE tb_sys_menu SET is_del = 1 WHERE id = #{id}
    </delete>

    <delete id="deleteTbSysMenuByIds" parameterType="String">
        delete from tb_sys_menu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkMenuNameUnique" parameterType="com.littlemoth.common.core.domain.entity.TbSysMenu" resultMap="TbSysMenuResult">
        <include refid="selectTbSysMenuVo"/>
        where name=#{menuName} and parent_id = #{parentId} limit 1
    </select>


    <select id="selectMenuTreeAll" resultMap="TbSysMenuResult">

        SELECT DISTINCT m.id, m.parent_id, m.name, m.path, m.component, m.redirect, m.breadcrumb, m.keep_alive,m.title,m.target, ifnull( m.permis, '' ) AS permis,
            m.menu_type, m.icon, m.sort, m.create_time
        FROM tb_sys_menu m
        WHERE
            m.menu_type IN ( 'M', 'C' ,'F')
          AND m.is_del = 0
        ORDER BY
            m.parent_id,
            m.sort
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Long" resultMap="TbSysMenuResult">

        SELECT
        m.id, m.parent_id, m.name, m.path, m.component, m.redirect, m.breadcrumb, m.keep_alive,m.title,m.target, ifnull( m.permis, '' ) AS permis,
        m.menu_type, m.icon, m.sort, m.create_time
        FROM
        (
        SELECT
        sm.*
        FROM
        tb_sys_menu sm
        INNER JOIN (
        SELECT
        *
        FROM
        tb_sys_role_menu srm
        WHERE
        srm.role_id = ( SELECT sur.role_id FROM tb_sys_user_role sur WHERE sur.user_id = ( SELECT id FROM tb_sys_user WHERE id = #{userId} ) )
        ) srma ON sm.id = srma.menu_id UNION
        SELECT
        sm.*
        FROM
        tb_sys_menu sm
        INNER JOIN (
        SELECT
        srm.menu_id
        FROM
        tb_sys_role_menu srm
        WHERE
        srm.role_id = (
        SELECT
        sur.role_id
        FROM
        tb_sys_user_role sur
        WHERE
        sur.user_id = ( SELECT id FROM tb_sys_office WHERE id = ( SELECT company_id FROM tb_sys_user WHERE id = #{userId} ) )
        )
        ) srma ON sm.id = srma.menu_id
        ) m
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND m.name like concat('%', #{name}, '%')
        </if>
        AND m.menu_type IN ( 'M', 'C' ,'F')
        AND m.is_del = 0
        ORDER BY
        m.parent_id,
        m.sort
    </select>


</mapper>