<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlemoth.system.mapper.TbSysRoleMenuMapper">
    
    <resultMap type="com.littlemoth.system.domain.TbSysRoleMenu" id="TbSysRoleMenuResult">
        <result property="id"    column="id"    />
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>

    <sql id="selectTbSysRoleMenuVo">
        select id, role_id, menu_id from tb_sys_role_menu
    </sql>

    <select id="selectTbSysRoleMenuList" parameterType="com.littlemoth.system.domain.TbSysRoleMenu" resultMap="TbSysRoleMenuResult">
        <include refid="selectTbSysRoleMenuVo"/>
        <where>  
            <if test="roleId != null "> and role_id = #{roleId}</if>
            <if test="menuId != null "> and menu_id = #{menuId}</if>
        </where>
    </select>
    
    <select id="selectTbSysRoleMenuById" parameterType="Long" resultMap="TbSysRoleMenuResult">
        <include refid="selectTbSysRoleMenuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbSysRoleMenu" parameterType="com.littlemoth.system.domain.TbSysRoleMenu" useGeneratedKeys="true" keyProperty="id">
        insert into tb_sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="menuId != null">menu_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="menuId != null">#{menuId},</if>
         </trim>
    </insert>

    <update id="updateTbSysRoleMenu" parameterType="com.littlemoth.system.domain.TbSysRoleMenu">
        update tb_sys_role_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="menuId != null">menu_id = #{menuId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbSysRoleMenuById" parameterType="Long">
        delete from tb_sys_role_menu where id = #{id}
    </delete>

    <delete id="deleteTbSysRoleMenuByIds" parameterType="String">
        delete from tb_sys_role_menu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>